<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      </staticContent>
      
   </system.webServer>

  <location path="index.htm">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.alphacolorspinturas.com.br" />
    </system.webServer>
  </location>

</configuration>

